
# VS Code files
.vscode/
**/.vscode/
*.vc.db
*.vc.db-shm
*.vc.db-wal

# for all ROS 2 generated directories (not just within ros2_ws)
**/build/
**/install/
**/log/

# Python bytecode caches
**/__pycache__/
*.pyc
